<h1>Изменить запись</h1>

<%= link_to 'Вернуться назад', land_path(@land), class: 'main-menu-btn' %>

<%= form_with model: @land, local: true, class: 'land-form' do |form| %>
  <div>
    <%= form.label :landid, "ID угодия" %>
    <%= form.number_field :landid %> 
  </div>

  <div>
    <%= form.label :agronomistid, "ID агронома" %>
    <%= form.number_field :agronomistid %>
  </div>

  <div>
    <%= form.label :square, "Площадь" %>
    <%= form.number_field :square %>
  </div>

  <div>
    <%= form.label :status, "Статус" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :type_of_plant, "Вид растения" %>
    <%= form.text_field :type_of_plant %>
  </div>

  <div>
    <%= form.label :watering, "Дата полива" %>
    <%= form.date_select :watering %>
  </div>

  <div style="text-align: center; width: 100%;">
    <%= form.submit 'Сохранить', class: 'main-menu-btn' %>
  </div>
<% end %>


