<h1>Информация об угодьях</h1>

<div class="button-container">
  <%= link_to 'Главное меню', root_path, class: 'btn btn-secondary main-menu-btn' %>
  <%= link_to 'Добавить запись', new_land_path, class: 'btn btn-primary main-menu-btn' %>
</div>

<div class="lands-container">
  <table class="land-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Статус</th>
        <th>Площадь</th>
      </tr>
    </thead>
    <tbody>
      <% @lands.each do |land| %>
        <tr onclick="window.location='<%= land_path(land) %>'" class="clickable-row">
          <td><%= land.landid %></td>
          <td><%= land.status %></td>
          <td><%= land.square %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
