<h1>Подробная информация</h1>

<%= link_to 'Вернуться назад', lands_path, class: 'main-menu-btn' %>

<div class="land-details">
  <p class="description"><strong>ID:</strong> <%= @land.landid %></p>
  <p class="description"><strong>ID агронома:</strong> <%= @land.agronomistid %></p>
  <p class="description"><strong>Площадь:</strong> <%= @land.square %></p>
  <p class="description"><strong>Статус:</strong> <%= @land.status %></p>
  <p class="description"><strong>Вид растения:</strong> <%= @land.type_of_plant %></p>
  <p class="description"><strong>Дата полива:</strong> <%= @land.watering %></p>
</div>

<div class="button-container">
  <%= link_to 'Изменить', edit_land_path(@land), class: 'main-menu-btn' %>
  <%= button_to 'Удалить', land_path(@land), 
                method: :delete, 
                data: { confirm: 'Are you sure?' }, 
                class: 'main-menu-btn' %>
</div>
