<h1>Информация о растениях</h1>

<div class="button-container">
<%= link_to 'Главное меню', root_path, class: 'btn btn-secondary main-menu-btn' %>
<%= link_to 'Добавить запись', new_plant_path, class: 'btn btn-primary main-menu-btn' %>
</div>

<div class="lands-container">
  <table class="land-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Сорт</th>
      </tr>
    </thead>
    <tbody>
      <% @plants.each do |plant| %>
        <tr onclick="window.location='<%= plant_path(plant) %>'" class="clickable-row">
            <td><%= plant.plantid %></td>
            <td><%= plant.name %></td>
            <td><%= plant.kind %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
