<h1>Подробная информация</h1>

<%= link_to 'Вернуться назад', plants_path, class: 'main-menu-btn' %>

<div class="land-details">
  <p class="description"><strong>ID:</strong> <%= @plant.plantid %></p>
  <p class="description"><strong>ID работника:</strong> <%= @plant.workerid %></p>
  <p class="description"><strong>Название:</strong> <%= @plant.name %></p>
  <p class="description"><strong>Сорт:</strong> <%= @plant.kind %></p>
  <p class="description"><strong>Дата доставки:</strong> <%= @plant.date_of_delivery %></p>
</div>

<div class="button-container">
  <%= link_to 'Изменить', edit_plant_path(@plant), class: 'main-menu-btn' %>
  <%= button_to 'Удалить', plant_path(@plant), 
              method: :delete, 
              data: { confirm: 'Are you sure?' }, 
              class: 'main-menu-btn' %>
</div>