<h1>Информация о работниках</h1>

<div class="button-container">
<%= link_to 'Главное меню', root_path, class: 'btn btn-secondary main-menu-btn' %>
<%= link_to 'Добавить запись', new_worker_path, class: 'btn btn-primary main-menu-btn' %>
</div>

<div class="lands-container">
  <table class="land-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
      </tr>
    </thead>
    <tbody>
      <% @workers.each do |worker| %>
        <tr onclick="window.location='<%= worker_path(worker) %>'" class="clickable-row">
          <td><%= worker.workerid %></td>
          <td><%= worker.surname %></td>
          <td><%= worker.firstname %></td>    
        </tr>
      <% end %>
    </tbody>
  </table>
</div>