<h1>Подробная информация</h1>

<%= link_to 'Вернуться назад', workers_path, class: 'main-menu-btn' %>

<div class="land-details">
  <p class="description"><strong>ID:</strong> <%= @worker.workerid %></p>
  <p class="description"><strong>ID угодия:</strong> <%= @worker.landid %></p>
  <p class="description"><strong>Фамилия:</strong> <%= @worker.surname %></p>
  <p class="description"><strong>Имя:</strong> <%= @worker.firstname %></p>
  <p class="description"><strong>Отчество:</strong> <%= @worker.lastname %></p>
  <p class="description"><strong>Стаж работы:</strong> <%= @worker.workexperience %></p>
  <p class="description"><strong>Должность:</strong> <%= @worker.post %></p>
</div>

<div class="button-container">
<%= link_to 'Изменить', edit_worker_path(@worker), class: 'main-menu-btn' %>
<%= button_to 'Удалить', worker_path(@worker), 
              method: :delete, 
              data: { confirm: 'Are you sure?' }, 
              class: 'main-menu-btn' %>
</div>